@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.backdrop_profil{
    display: flex;
    flex-direction: column;
    background: blue;
    margin: 0px;
    position: absolute;

    height: 100%;
    width: 100%;
    z-index: 100;
}

.photo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
   
    background-color: crimson;
} 
.buttons_group{
    
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.resize {
    width: 130px;
    height: 130px;

}

.avatar_photo { 
    margin: auto;
    margin-top: 95px;
    background:rgb(78, 67, 67);
    border-radius:55%;
    width:190px;
    height:190px;
    border:2px solid #679403;  

}
.photos_list{

    display: flex;
    flex-direction: row;
    background-color: #271513;
    width: 100%;
    height: 280px;
}

.btn {
    
   background-color: aqua;
    border: none;
    color: rgb(207, 29, 29);
    font-size: 16px;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }